<div class="user-profile">
  <p id="notice"><%= notice %></p>
<div class="profile__info">
  <h4> This is the info we have on your account </h4>
    <div class="col-sm-6">
      <strong>Name:</strong>
    </div>
    <div class="col-sm-6">
      <%= @user.name %>
    </div>
    <div class="col-sm-6">
      <strong>Email:</strong>
    </div>
    <div class="col-sm-6">
      <%= @user.email %>
    </div>
    <%= link_to 'Edit your account info', edit_user_path(@user), class: "white" %>
  </div>

<h4>Your Orders: </h4>
<% if @orders.any? %>
  <% @orders.each do |order| %>
      <table class="table table-striped" style="width: 90%; margin: 15px auto;">
        <tr>
          <th>Package Type</th>
          <th>Items </th>
          <th>Delivery Date</th>
          <th>Delivery Address</th>
          <th>Contact Phone Number</th>
          <th>Status</th>
        </tr>
        <tr>
          <td>
            <%= order.frequency %>
          </td>
          <td>
            <div class="row"><%= order.first_item %></div>
            <div class="row"><%= order.second_item %></div>
            <div class="row"><%= order.third_item %></div>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
            Status
          </td>
        </tr>
      </table>
      <div class="btn">
        <%= link_to "Edit", edit_user_order_path(@user, order), class: "btn" %>
      </div>
      <div class="btn">
        <%= link_to 'Destroy',  user_order_path(@user, order), data: { confirm: 'Are you sure you want to delete this order?' }, method: :delete, class: "btn" %>
      </div>
      <div class="btn">
        Checkout
      </div>
    <% end %>
  <% else %>
    <%= link_to 'No orders yet, Create one!', new_user_order_path(current_user), class: "white" %>
  <% end %>

  <%= link_to ' Create an Order!', new_user_order_path(current_user), class: "white" %>

</div>
