<%= form_for [@order.user, @order], html: {class: "form-horizontal", role: "form"} do |f| %>
  <div class="form-group">
    <%= f.select(:frequency, @frequencies, :selected => @asked_frequency) %>
  </div>
  <div class="form-group">
    <%= f.select(:first_item, Product.all.collect {|u| u.name}, {class: 'selectBoxIt'}) %>
  </div>
  <div class="form-group">
    <%= f.select(:second_item, Product.all.collect {|u| u.name}) %>
  </div>
  <div class="form-group">
    <%= f.select(:third_item, Product.all.collect {|u| u.name}) %>
  </div>

  <div class="form-group">
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number, placeholder: "(x)-xxx-xxx-xxxx", class: "order-form__input" %>
  </div>

  <div class="form-group">
    <%= f.label :delivery_address %>
    <%= f.text_field :delivery_address, placeholder: "e.g. ## Street, Prov/State, Country", class: "order-form__input" %> <br/ >
  </div>

  <%= f.submit "Proceed to Checkout", class: "btn btn-lg btn-primary" %>

<% end %>
