<div class="user-form user__form--low">
  <div class="field">
    <%= form_for [@order.user, @order] do |f| %>
      <%= f.select(:frequency, @frequencies) %><br>

      <%= f.select(:first_item, Product.all.collect {|u| u.name}, {class: 'selectBoxIt'}) %><br/ >
      <%= f.select(:second_item, Product.all.collect {|u| u.name}) %><br/ >
      <%= f.select(:third_item, Product.all.collect {|u| u.name}) %><br/ >
      <%= f.submit "Save Changes", class: "btn btn-lg btn-primary" %>

    <% end %>
  </div>
</div>
