<div class="user-form user__form--low">
  <% flash.each do |name, msg| %>
    <div class="alert alert-<%= name %>">
      <a class="close" data-dismiss="alert">&#215</a>
      <% if msg.is_a?(String) %>
        <div id="flash_<%= name %>"> <%= sanitize(msg) %> </div>
      <% end %>
    </div>
  <% end %>
    <%= form_for [@order.user, @order], html: {class: "form-horizontal", role: "form"} do |f| %>
      <%= f.select(:frequency, @frequencies, :selected => @asked_frequency) %><br>

      <%= f.select(:first_item, Product.all.collect {|u| u.name}, {class: 'selectBoxIt'}) %><br/ >
      <%= f.select(:second_item, Product.all.collect {|u| u.name}) %><br/ >
      <%= f.select(:third_item, Product.all.collect {|u| u.name}) %><br/ >

      <div class="field">
        <%= f.label :phone_number %>
        <%= f.text_field :phone_number, placeholder: "In case we need to contact you" %> <br/ >
      </div>

      <div class="field">
        <%= f.label :delivery_address %>
        <%= f.text_field :delivery_address, placeholder: "Where do we deliver this?" %> <br/ >
      </div>

      <%= f.submit "Proceed to Checkout", class: "btn btn-lg btn-primary" %>

    <% end %>
</div>
