<div class="user-form user__form--low">
  <div class="field">
    <%= form_for @order do |f| %>
      <%= f.select(:frequency, @frequencies, :selected => @asked_frequency) %><br>

      <%= f.select(:first_item, Product.all.collect {|u| u.name}, {class: 'selectpicker'}) %><br/ >
      <%= f.select(:second_item, Product.all.collect {|u| u.name}) %><br/ >
      <%= f.select(:third_item, Product.all.collect {|u| u.name}) %><br/ >
      <%= f.submit "Proceed to Checkout", class: "btn btn-lg btn-primary" %>

    <% end %>
  </div>
</div>

<!-- <div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
    Dropdown
    <span class="caret"></span>
  </button>
  <ul id="dropselect-demo1" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
    <li role="presentation" class="divider"></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
  </ul>
</div> -->

<select class="selectpicker">
  <option>Mustard</option>
  <option>Ketchup</option>
  <option>Barbecue</option>
</select>
