<% if !@order.nil? %>
  <table class="show-order-table table table-striped">
    <tr>
      <th>Package Type</th>
      <th>Items </th>
      <th>Delivery Date</th>
      <th>Delivery Address</th>
      <th>Contact Phone Number</th>
      <th>Order Status</th>
    </tr>
    <tr>
      <td class="show-order-table__padded-cell">
        <%= @order.frequency %>
      </td>
      <td class="show-order-table__padded-cell">
        <ul>
          <li><%= @order.first_item %></li>
          <li><%= @order.second_item %></li>
          <li><%= @order.third_item %></li>
        </ul>
      </td>
      <td>
        <%= @order.delivery_time %>
      </td>
      <td>
        <%= @order.delivery_address %>
      </td>
      <td>
        <%= @order.phone_number %>
      </td>
      <td>
        <%= @order.paid_status %>
      </td>
    </tr>
  </table>

  <% if !@order.paid_status? %>
    <%= link_to "Pay Order", new_user_order_checkout_path(current_user, @order), class: "btn btn-xl middle" %>
  <% end %>

<% end %>
