<%= form_for @bundle do |f| %>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
   
   <h2>Products </h2>
   <%= f.fields_for :products do |product| %>
    <div class="field">
      <%= product.label :title %><br>
      <%= product.text_field :title %>
      <%= product.check_box :_destroy %>
      <%= product.label :_destroy, 'remove' %>
    </div>
  <% end %>
  <div class="btn btn-submit">
    <%= f.submit %>
  </div>
<% end %>


# admin panel