<div class="field">
2  <%= f.label :title %><br>
3  <%= f.text_field :title %>
4 </div>
5 
6 <h2>Room Categories</h2>
7 <%= f.fields_for :products do |room_category| %>
8  <div class="room_category_fields">
9  <div class="field">
  <%= room_category.label :title %><br>
  <%= room_category.text_field :title %>
  </div>
  </div>
 <% end %>


# admin panel