<div class="footer" id="contact">
  <div class="container">
      <div class="row">
        <div class="col-sm-6 copyright">
          Copyright <%= fa_icon "copyright" %> 2015 DormVip designed by <a href="https://github.com/kweestian"> Christian Hamelin <%= fa_icon "github" %> </a>
        </div>
        <div class="col-sm-6 icon-row">
          <a href="mailto:max@dormvip.com"> <%= fa_icon "envelope-o 2x", class:  "wow bounceIn bottom-logo" %> <a/>
          <a href="https://www.instagram.com/dormvip"> <%= fa_icon "instagram 2x", class: "bottom-logo" %> </a>
          <a href="https://www.facebook.com/dormvip"> <%= fa_icon "facebook-official 2x", class: "bottom-logo" %> </a>
        </div>
      </div>
  </div>
</div>