<!DOCTYPE html>
<html>
<head>
  
  <title>DormVip</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>

<%= render "navbar" %>
</head>
<body>
  <%= yield %>
</body>