<!DOCTYPE html>

<head>

  <title>DormVip</title>
    <meta name="google-site-verification" content="HZMy7GfawcAqY68D8P3Yxao8EykcRyDTZwXVNZNb2Ho" />
    <%= stylesheet_link_tag 'application', media: 'all' %>

    <%= csrf_meta_tags %>
    <%= favicon_link_tag %>

</head>

<body>
  <%= render partial: "layouts/navbar" %>

  <div class="color-success successful-email"><%= notice %></div>
  <%= yield %>

<<<<<<< HEAD
</body>

<footer>
  <%= javascript_include_tag 'application' %>
=======



</body>

<footer class="navbar-fixed-bottom">
  <%= javascript_include_tag 'application' %>
  <%= render partial: "layouts/footer" %>
>>>>>>> develop
</footer>
