<!DOCTYPE html>
<html>
<head>

  <title>DormVip</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>

    <%= csrf_meta_tags %>
    <%= favicon_link_tag %>
    
    
  


</head>
<body id="page-top" >
  
  <%= yield %>
</body>

<footer>
    <%= javascript_include_tag 'application' %>
</footer>

    

